<!-- Application Form Example -->
<div>
  <h2>Enter Your Details</h2>
  <input
    type="text"
    placeholder="Enter your Name"
    #e
  ><br>

  <input
    type="text"
    placeholder="Enter subject"
    #s
  ><br>

  <input
    type="number"
    placeholder="Enter your first score"
    #n
  ><br>
  <input
    type="number"
    placeholder="Enter your second score"
    #a 
  >

  <button (click)="onclick(e.value, s.value, +n.value,+a.value)">Submit</button>

  <h1  *ngIf="statement">
    Hello {{email}}! Your Score in {{subject}} is {{scoreOne+scoreTwo}}.
  </h1>

</div>